@charset "UTF-8";

div {
    display: inline-block;
    background-color: aqua;
    width: 200px;
    height: 200px;
}
/*
.dd:hover {
    background-color: black;
    transform: translateX(100px);
    transition-duration: .90s;
    border-radius: 50%;
}
    */